
@{
    ViewBag.Title = "Oferta | CarRental";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<h2 class="page-header">Oferta</h2>
<div class="area">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Fiat Panda</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Samochód</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 1-3dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 4-7dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 8+ dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Kaucja</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/Images/oferta/fiat-panda.jpg" />
                            </div>
                            <div class="col-md-2 text-right">
                                100 zł
                            </div>
                            <div class="col-md-2 text-right">
                                90 zł
                            </div>
                            <div class="col-md-2 text-right">
                                75 zł
                            </div>
                            <div class="col-md-2 text-right">
                                400 zł <span>brutto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Ford Mondeo</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Samochód</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 1-3dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 4-7dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 8+ dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Kaucja</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/Images/oferta/ford-mondeo.jpg" />
                            </div>
                            <div class="col-md-2 text-right">
                                120 zł
                            </div>
                            <div class="col-md-2 text-right">
                                110 zł
                            </div>
                            <div class="col-md-2 text-right">
                                95 zł
                            </div>
                            <div class="col-md-2 text-right">
                                600 zł <span>brutto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Ford Mustang</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Samochód</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 1-3dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 4-7dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 8+ dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Kaucja</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/Images/oferta/ford-mustang.jpg" />
                            </div>
                            <div class="col-md-2 text-right">
                                200 zł
                            </div>
                            <div class="col-md-2 text-right">
                                190 zł
                            </div>
                            <div class="col-md-2 text-right">
                                175 zł
                            </div>
                            <div class="col-md-2 text-right">
                                1200 zł <span>brutto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Mercedes C350</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Samochód</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 1-3dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 4-7dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 8+ dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Kaucja</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/Images/oferta/mercedes-c350.jpg" />
                            </div>
                            <div class="col-md-2 text-right">
                                130 zł
                            </div>
                            <div class="col-md-2 text-right">
                                120 zł
                            </div>
                            <div class="col-md-2 text-right">
                                105 zł
                            </div>
                            <div class="col-md-2 text-right">
                                700 zł <span>brutto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Mercedes CLK W209</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Samochód</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 1-3dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 4-7dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Cena za 8+ dni</strong>
                                </div>
                                <div class="col-md-2 text-right">
                                    <strong>Kaucja</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="~/Images/oferta/mercedes-clk-w209.jpg" />
                            </div>
                            <div class="col-md-2 text-right">
                                150 zł
                            </div>
                            <div class="col-md-2 text-right">
                                140 zł
                            </div>
                            <div class="col-md-2 text-right">
                                125 zł
                            </div>
                            <div class="col-md-2 text-right">
                                900 zł <span>brutto</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <div class="text-center">
            <ul class="pagination">
                <li><a href="/home/Oferta">1</a></li>
                <li class="active"><a href="/home/Oferta2">2</a></li>
                <li><a href="/home/Oferta3">3</a></li>
            </ul>
        </div>
    </nav>
</div>

