
@{
    ViewBag.Title = "O firmie | CarRental";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="page-header">O firmie</h2>
<div class="area">
    <div class="form-group">
       <div class="row">
           <div class="col-md-6">
               <p class="text-justify">
                   <strong>Nowa firma na polskim rynku</strong><br />
                   Jesteśmy nowo utworzoną firmą, która oferuje wypożyczenia samochodów w kilku
                   największych miastach, takich jak: Katowice, Kraków, Warszawa, Wrocław. <br />
                   Nasza firma stale się rozrasta o kolejne najnowsze pojazdy róznych marek.
               </p>
           </div>
           <div class="col-md-6">
               <img class="img-responsive" src="~/Images/rear-view-car-mirror.jpg" />
               <small>Photo credit: <a href="http://foter.com/re/08ac24">Foter.com</a></small>
           </div>
       </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="~/Images/casablanca-1650772_1280.jpg" />
            </div>
            <div class="col-md-6">
                <p class="text-justify">
                    <strong>Flota samochodowa</strong><br />
                    Oferujemy samochody osobowe takich marek jak: Audi, BMW, Fiat, Ford, Land Rover, Mercedes,
                    Peugeot, Renault, Volkswagen, Volvo i inne. W ofercie posiadamy również samochody luksusowe
                    z tak zwanej najwyższej półki. <br /> Każdy samochód jest serwisowany w autoryzowanym serwisie.
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <p class="text-justify">
                    <strong>Pełen profesjonalizm</strong><br />
                    Świadczsone usługi przez naszą firmę są najwyższej jakości. Dla naszej firmy liczy się Klient.
                    Dzięki naszemu doświadczeniu oferujemy pomoc naszemu Klienotwi <br />w każdej nieoczekiwanej sytuacji. 
                    Służymy pomocą 24/7 w terenie jak i przez telefon. <br /><br />
                    Wykwalifikowany personel jest do ciągłej dyspozycji. Dbamy o naszego Klienta również poprzez 
                    poszerzanie naszej floty samochodowej o coraz to nowsze auta, gdyż zadowolenie Klienta jest
                    dla nas najważniejsze. Przystępne ceny wypożyczeń powodują nieustanny uśmiech na twarzy każdego Klienta.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="~/Images/w_aucie.jpg" />
                <small><a href="http://pl.freepik.com/darmowe-zdjecie/dziewczyny-i-facet-biorĘ-c-siebie-w-samochodzie_1207747.htm">Zaprojektowane przez Freepik</a></small>
            </div>
        </div>
    </div>
</div>
