@{
    ViewBag.Title = "Regulamin | CarRental";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section style {
    <style type="text/css">
        .panel-body {
            background-image: url(../../Images/law-tlo.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
}

<h2 class="page-header">Regulamin</h2>
<div class="area">
    <div class="col-md-12">
        <article>
            <h3>Podstawowe obowiązki najemcy:</h3>
            <ul>
                <li>Posiadanie przy sobie kompletu dokumentów osobistych, dowodu rejestracyjnego i polisy ubezpieczeniowej samochodu;</li>
                <li>Zabezpieczanie samochodu przed kradzieżą;</li>
                <li>Zabezpieczanie poza pojazdem jego kluczy i dokumentów;</li>
                <li>Stosowanie paliwa zgodnego ze specyfikacją;</li>
                <li>Bieżąca kontrola stanu samochodu: poziom płynów (olej, płyn hamulcowy, chłodniczy), oświetlenie, stan i ciśnienie opon;</li>
                <li>Stosowanie się ściśle do regulaminu wynajmu.</li>
            </ul>
            <h3>Zabrania się:</h3>
            <ul>
                <li>Palenia papierosów;</li>
                <li>Przewożenia zwierząt;</li>
                <li>Holowania samochodu bez zgody Właściciela i holowania innych pojazdów;</li>
                <li>Przekraczania dopuszczalnej ładowności;</li>
                <li>Dokonywania zmian w samochodzie;</li>
                <li>Podróżowania poza granicę Polski bez akceptacji Właściciela;</li>
            </ul>
            <h3>Szkoda/awaria/serwis</h3>
            <ul>
                <li>W przypadku szkody komunikacyjnej należy wezwać Policję oraz poinformować Właściciela samochodu; szkodę należy zgłosić na infolinii ubezpieczyciela.</li>
                <li>W przypadku awarii samochodu należy skontaktować się z infolinią techniczną wskazaną przez Właściciela.</li>
                <li>W przypadku wystąpienia konieczności przeglądu gwarancyjnego, należy go wykonać we wskazanym przez Właściciela pojazdu Autoryzowanym Serwisie.</li>
            </ul>
            <h3>Ubezpieczenie:</h3>
            <ul>
                <li>Samochód posiada pełne ubezpieczenie OC i AC.</li>
            </ul>
        </article>
    </div>
</div>
