﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Zarezerwowano</title>
    <style>
        body {
            background-color: #F1F1F1;
        }

        .center {
            width: 700px;
            height: 300px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .text {
            width: 700px;
            height: 300px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        h1 {
            color: #0b6800;
        }
    </style>
    <script type="text/javascript">
        if ('@Session["Login"]' != null)
        {
            setTimeout(function przekierowanie() {
                window.location.href = "/home/Glowna";
            }, 5000)
        }
        else
        {
            setTimeout(function przekierowanie() {
                window.location.href = "/home/Login";
            }, 5000)
        }
    </script>
</head>
<body>
    <div class="center">
        <div class="text">
            <h2>Pomyślnie zarezerwowano samochód:</h2><h1>@ViewBag.Message</h1><br />
                @if (Session["Login"] != null)
                {
                    <p>Następuje przekierowanie na stronę główną, proszę czekać ...<br />
                    lub użyj przycisku
                    <a href="/home/Glowna"> powrót</a></p>
                }
                else
                {
                    <p>Następuje przekierowanie na stronę logowania, proszę czekać ...<br />
                    lub użyj przycisku</p>
                    <a href="/home/Login"> powrót</a>
                }
        </div>
    </div>
</body>
</html>
